*{
  margin: 0;
  padding: 0;
  vertical-align:baseline;
  list-style:none;
  border:0;
}

h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 37px;

  color: #E71C35;
}

