.chamadosContainer{
    position: absolute;
    width: 632px;
    height: 201px;
    left: 130px;
    top: 1140px;
}

.chamadosContainer h2{
    top: -80px;
    left: 0px;
}

.tiposChamados{
    display: flex;
    margin-bottom: 10px;
}

.chamadosAberto{
    margin-left: 30px;
}

.chamadosFeito{
    margin-left: 30px;
}

.finalizado{
    margin-left: 80px;
    margin-top: -20px;
}

.squarContainer{
    display: flex;
}

.squarPedidos{
    position: relative;
    display: flex;
    width: 80px;
    height: 80px;

    background: #D9D9D9;
    border-radius: 6px;
}

.squarPedidosTwo{
    position: relative;
    display: flex;
    margin-left: 180px;
    width: 80px;
    height: 80px;

    background: #D9D9D9;
    border-radius: 6px;
}

.squarPedidos legend{
    padding: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    color: #000000;
}

.squarPedidosTwo legend{
    padding: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    color: #000000;
}

.squarPedidos p{
    width: 200px;
    display: block;
    margin-left: 13px;
    margin-top: 2px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;

    color: #000000;
}

.squarPedidosTwo p{
    width: 200px;
    display: block;
    margin-left: 13px;
    margin-top: 2px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;

    color: #000000;
}

.detalhes p{
    font-family: 'Inter';
    font-style: normal;
    font-size: 10px;
    /* identical to box height */

    color: #4b4a4a;

    margin: 0 13px;
}

.detalhesTwo p{
    font-family: 'Inter';
    font-style: normal;
    font-size: 10px;
    /* identical to box height */

    color: #4b4a4a;

    margin: 0 13px;
}


.lineFinall{
    position: absolute;
    width: 500px;
    height: 0px;
    left: 0px;
    margin-top: 30px;

    border: 2px solid #DEF0D0;
}
