/* Data e hora */
.horaData{
    position: absolute;
    left: 8.7%;
    right: 8.15%;
    top: 10px;
    margin-bottom: 20px;
}

/* Hora */
.horaData .hora{
    position: absolute;
    left: 15.63%;
    margin: 13px;
    
    top: 10%;
    bottom: 83.5%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    color: #000000;
}

/* Data */
.horaData .data{
    position: absolute;
    left: 8.7%;
    right: 8.15%;
    top: 16.5%;
    bottom: 80.83%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    /* identical to box height */


    color: #000000;
}