section h1{

    position: absolute;
    width: 75%;
    height: 39px;
    left: 150px;
    top: 30px;
}

.imgTela{
    position: absolute;
    width: 30%;
    height: 260px;
    left: 400px;
    top: 130px;
}

.componentAtendimento{
    position: absolute;
    width: 50%;
    height: 155px;
    margin-left: 130px;
    top: 444px;
}