.select{
    width: 220px;
    margin-top: 30px;
}

.option{
    height: 30px;
    background: #E5E6E6;
/* Sombra de input */

    box-shadow: inset 0px 3px 8px -1px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 5px 5px;
    width: 200px;
    margin-top: 5px;
}