nav{
    position: absolute;
    width: auto;
    padding: 10px;
    top: 0%;
    bottom: 0%;

    background: #F6F7F7;

    /* Sombra Barra */

    box-shadow: 0px 10px 19px rgba(178, 179, 181, 0.7);
}

section{
    display: block;

}

article{
    margin-left: 20px;
    margin-top: 80px;
}

.Bullet{
    margin-top: 10px;
}

.Bullet2{
    margin-top: 10px;
}

.Bullet3{
    margin-top: 10px;
}

.Bullet4{
    margin-top: 10px;
}


