.contato{
    position: absolute;
    width: 631px;
    height: 175px;
    left: 130px;
    top: 150px;
}

.contato h2{
    left: 0px;
}

.telCelWhats{
        position: absolute;
        display: flex;
        width: 631px;
        height: 175px;
        top: 190px;
}

.cel{
    margin-left: 50px;
}

.whats{
    margin-left: 50px;
}

.email{
    position: absolute;
    width: 631px;
    height: 175px;
    top: 260px;
}