.campoContainer{
    display: flex;
    width: 200px;
}

.campoInfo{
    height: 15px;
    background: #E5E6E6;
/* Sombra de input */

    box-shadow: inset 0px 3px 8px -1px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 5px 5px;
    width: 180px;
    margin-top: 5px;
}