.usuario {
	margin-bottom: 40px;
	height: 40px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
	color: #E71C35;
}



.dados {
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	justify-content: space-between;

}

.tituloatend2 {
	display: flex;
	margin-top: 100px;

}

#chamados-2 {
	margin-left: 100px;
}






.firsttd {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}


.sidebarleft1 {
	position: relative;
	display: block;
	margin: 15px;
	text-align: center;
}

.font600 {
	font-family: 'Inter';
	font-size: 15px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
	font-weight: bold;
}

.fontcall {
	font-family: 'Inter';
	font-size: 14px;
	line-height: 18px;
	text-align: left;
	font-weight: bold;
}

.font60012 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	color: #000000;
}

.font60014 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	color: #000000;
}

.font60015 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 15px;

	color: #000000;
}

.font500 {
	font-family: 'Inter';
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	font-weight: bold;
}

.font400 {
	font-family: 'Inter';
	font-style: normal;

	font-size: 16px;
	line-height: 19px;

	color: #000000;
}

.d-none {
	display: none;
}

.m-14 {
	margin: 14px 0px;
}


/* ------------------------------------------------------------------ */
.containertime {
	position: relative;
}

.blackline {
	background-color: #000;
	width: 2px;
	height: 35px;
	position: absolute;
	margin-top: -18px;
	margin-left: 5.4%;
	z-index: 1;


}

.desctime {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ballgreen {
	background-color: #8ECA5F;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	z-index: 99;
	margin: 10px 0;
}

.texttime {
	font-size: 12px;
}

* {
	font-family: 'Inter', sans-serif;
}

.wrap {
	display: flex;
}

.sidebar {
	margin-top: 5%;
	position: relative;
	left: 16%;
}

.container {
	position: relative;
	left: 15%;
}

.title {
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
}

.title>img {
	margin-right: -10px;
}

.username {
	color: #E71C35;
	font-weight: bold;
	font-size: 32px;
	margin: 20px 0;
}

.description {
	color: #7AC143;
	font-weight: bold;
	font-size: 24px;
}

.funcsetor {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	display: flex;
	align-items: center;

	color: #888888;
}

.boxfunc {
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 1);
	width: 150px;
	height: 152px;
	border-radius: 6px;
	border: 2px solid #68A439;
	text-align: center;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 30px;
}

.containerfunc {
	width: 700px;
	display: flex;
	flex-wrap: wrap;
}

.rowcolsmd4>* {
	flex: 0 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 20px;
	width: 152px;
}

.legendfunc {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	background-color: #68A439;
	width: 150px;
	height: 45px;
	border-radius: 2px;
	text-align: left;
}

.labelfunc {
	display: flex;
	flex-direction: column;
}

.fontefunc {
	color: #FFFFFF;
	margin-left: 5px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
}

.fontecargo {
	color: #FFFFFF;
	margin-left: 5px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
}

.selectgroup{
    position: relative;
	width: 200px;
}
  
.button{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    border-radius: .3rem;
    height: 3.2rem;
    width: 100%;
    background-color: #E8E8E8;
    border: 2px solid #E8E8E8;
    position: relative;
}

button:focus{
    border: 2px solid #D0E9BD;
  }
  
.arrow{
	margin-left: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    padding: 4px;
    transform: rotate(45deg);
}

.dropdown{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #E8E8E8;
    border-radius: .3rem;
    overflow: hidden;
}

.hidden{
    display: none;
}

.option{
    display: none;
}

.selectitem{
    display: block;
    padding: 1rem;
    text-align: left;
    font-family: Inter;
    font-style: normal;
    font-size: 16px;
    background-color: #FFFFFF;
    color: black;
}
  
.selectitem:hover{
    background-color:#D0E9BD;
}

.datacontainer,
.datacontainersmtree,
.datacontainertree,
.datacontainerfour {
	max-width: 50vw;
	min-height: 115px;
	margin: 20px 0;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.fontinter16{
	margin-top: 20px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
}

.caixaverde {
	width: 210px;
	height: 320px;
	border-radius: 10px;
	background-color: #FFFFFF;
	border: 1px solid #C3E3AA;
	padding: 10px;
}

.setores {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
}

.setores>li {
	width: 100%;
	border-radius: 6px;
}

.setor {
	padding: 0.2rem;
	height: 38px;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	align-items: center;
	flex-direction: row;
	align-content: flex-start;
	justify-content: flex-start;
}

.setor>img {
	padding-left: 10px;
	padding-right: 10px;
}

.setor>label {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
}

.setores>li:hover{
    background-color:#7AC143;
}

.linebtn{
	display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.btnimg{
	width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
	text-align: center;
}

.datacontainers-tree {
	min-height: 165px;
}

.datacontainertwo {
	max-width: 400px;
	min-height: 170px;
	margin: 20px 0;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.datacontainer>div {
	width: 401px;
}

.datacontainertwo>div {
	width: 200px;
}

.datacontainertree>div {
	width: 300px;
}

.datacontainersmtree>div {
	width: 320px;
}

.datacontainerfour>div {
	width: 250px;
}

.datadesc {
	font-weight: 600;
	font-size: 16px;
}

.datainfo {
	color: #4F5256;
}

.line {
	width: 80%;
	border-top: 2px;
	border-color: #DEF0D0;
	border-style: solid;
	margin-bottom: 25px;

}

.numberbox {

	max-width: 95px;
	padding: 25px 30px;
	border-radius: 6px;
	background-color: #D9D9D9;
	font-family: 'Inter';
	font-weight: 600;
	font-size: 32px;

}

.mb2 {
	margin-bottom: 20px;
}

.nowrap {

	width: 250px !important;
	margin-left: 10px;
}

.smfont {
	font-size: 13px;

}

.status {
	font-size: 14px;
}

.stitle {
	font-weight: 600;
	font-size: 20px;
}

.sinfo {
	font-weight: 500;
	font-size: 20px;
}

.sdesc {
	font-weight: 600;
	font-size: 16px;
}

.boldfont {
	font-size: 32px;
}

.sfont {
	font-weight: 600;
	margin-top: 10px;
}

@media screen and (max-width: 1610px) {
	.container {
		max-width: 70vw !important;
	}

	.sidebar {
		width: 200px;
		margin-top: 10px;
	}

	.datacontainer>div {
		width: 201px;
	}

}

@media screen and (max-width: 1200px) {

	.sidebar {
		left: 7%;
	}

	.sidebar {
		margin-top: 0%;
		position: static;
	}

	.sidebar>div {
		display: flex;
		flex-wrap: wrap;
	}

	.datacontainertree>div {
		width: 200px;
	}

	.datacontainerfour>div {
		width: 200px;
	}


}