.Informacoes {
    left: 15%;
    position: absolute;
    top: 40%;
    display: flex;
	align-items:flex-start;
}

.conteudo-esquerda {
    width: 35%;
}
.conteudo-direita {
    width: 35%;
}

.item h3 {
    font-size: 15px;
    font-weight: 650;
    font: Inter;
}

.segundo-item {
    margin-top:8%;
}
.itens-pedido p {
    line-height: 2%;
}
.barra { 
	width:0px;
	height:290px;
	margin: 20px;
	border:2px solid #999999;
} 