.title{
    /* Estatísticas */

    position: absolute;
    width: 113px;
    height: 24px;
    left: 700px;
    top: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;

    color: #000000;
}

.containerEstatisticas{
    position: relative;
    width: 150px;
    left: 700px;
    top: 50px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 9px;
    line-height: 15px;

    color: #000000;
}

.comprasFeitas{
    padding: 2px 0;
}

.ligacao{
    font-size: 8px;
    padding: 2px 0;
}