
/* atendimento */

.usuario{
    margin-bottom: 40px;
	height: 40px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
	color: #E71C35;
}


th{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
}


#atendimento{
    position: absolute;
	top: 10%;
	left: 45%;
	transform: translate(-50%,0);

}


table{
	width: 70vw;
	border-collapse: separate;
  	border-spacing: 0 8px;
}

tbody tr{
	background-color: #C3E3AA;
}

.img-td{
	border-top-right-radius:  6px;
	border-bottom-right-radius:   6px;
}


.first-td{
	padding-left: 10px;
    padding-top:10px;
    padding-bottom:10px;
	border-top-left-radius:  6px;
	border-bottom-left-radius:   6px;
}

tbody th{
	display: flex;
	align-items: flex-start !important;
}
tbody tr:hover{
	background-color: #CADE4E;
}

.font-600 {
	font-family: 'Inter';
	font-size: 15px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
	font-weight:bold;
}

.font-500{
	font-family: 'Inter';
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	font-weight:bold;
}

