.endereco h2{
        position: absolute;
        width: 226px;
        height: 29px;
        left: 150px;
        margin-top: 550px;
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        /* identical to box height */
    
    
        color: #7AC143;
}

.enderecoContainer{
    position: absolute;
    display: flex;
    width: 600px;
    height: 175px;
    left: 150px;
    top: 560px;
}



.enderecoContainer2{
    position: absolute;
    display: flex;
    width: 600px;
    height: 175px;
    left: 100px;
    top: 629px;
}

.endereco2{
    width: 130px;
}

.numero{
    margin-left: 0px;
}

.complemento{
    margin-left: 50px;
}

.referencia{
    margin-left: 50px;
}

.cidade{
    margin-left: 50px;
    
}

.cidade{
    width: 100px;
}

.estado{
    width: 100px;
}

.cep{
    width: 100px;
    margin-left: 30px;
}

.enderecoContainer2 .lineFinal{
    left: 50px;
}